body {
    background-color: lightgray;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

nav ul li{
    list-style-type: none;
}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    flex-grow: 1;
}

.option {
    background-color: gray;
    padding: 15px;
    margin: 10px 0;
}

.option a {
    color: black;
    text-decoration: none;
    display: block;
}

.option a:hover {
    text-decoration: underline;
}

.option:target {
    background-color: white;
}
.option--content:first-child {
    display: block;
}
.option--content {
    background-color: white;
    display: none;
    padding: 10px;
    flex-grow: 1;
}

.option--content:target{
    display: block;
}

/* Media Querys */
@media (min-width: 768px) {
    .container{
        flex-direction: row;
    }
    .option{
        order: -1;
        flex-grow: 1;
    }
}